# Datasets from StatsModels library

In [2]:
import warnings
warnings.filterwarnings('ignore')
import statsmodels.api as sm

In [3]:
dir(sm.datasets)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'anes96',
 'cancer',
 'ccard',
 'check_internet',
 'china_smoking',
 'clear_data_home',
 'co2',
 'committee',
 'copper',
 'cpunish',
 'elnino',
 'engel',
 'fair',
 'fertility',
 'get_data_home',
 'get_rdataset',
 'grunfeld',
 'heart',
 'interest_inflation',
 'longley',
 'macrodata',
 'modechoice',
 'nile',
 'randhie',
 'scotland',
 'spector',
 'stackloss',
 'star98',
 'statecrime',
 'strikes',
 'sunspots',
 'utils',
 'webuse']

## House Prices

In [33]:
df = sm.datasets.get_rdataset(dataname="HousePrices", package="AER", cache=True).data
df.shape

(546, 12)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       546 non-null    float64
 1   lotsize     546 non-null    int64
 2   bedrooms    546 non-null    int64
 3   bathrooms   546 non-null    int64
 4   stories     546 non-null    int64
 5   driveway    546 non-null    object
 6   recreation  546 non-null    object
 7   fullbase    546 non-null    object
 8   gasheat     546 non-null    object
 9   aircon      546 non-null    object
 10  garage      546 non-null    int64
 11  prefer      546 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 51.3+ KB

## Sunspots

In [18]:
df = sm.datasets.sunspots.load_pandas().data
df.shape

(309, 2)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YEAR         309 non-null    float64
 1   SUNACTIVITY  309 non-null    float64
dtypes: float64(2)
memory usage: 5.0 KB

## Interest Inflaction

In [21]:
df = sm.datasets.interest_inflation.load_pandas().data
df.shape

(107, 4)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     107 non-null    float64
 1   quarter  107 non-null    float64
 2   Dp       107 non-null    float64
 3   R        107 non-null    float64
dtypes: float64(4)
memory usage: 3.5 KB

## El Ni√±o

In [24]:
df = sm.datasets.elnino.load_pandas().data
df.shape

(61, 13)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    61 non-null     float64
 1   JAN     61 non-null     float64
 2   FEB     61 non-null     float64
 3   MAR     61 non-null     float64
 4   APR     61 non-null     float64
 5   MAY     61 non-null     float64
 6   JUN     61 non-null     float64
 7   JUL     61 non-null     float64
 8   AUG     61 non-null     float64
 9   SEP     61 non-null     float64
 10  OCT     61 non-null     float64
 11  NOV     61 non-null     float64
 12  DEC     61 non-null     float64
dtypes: float64(13)
memory usage: 6.3 KB

## Fertility

In [27]:
df = sm.datasets.fertility.load_pandas().data
df.shape

(219, 58)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    219 non-null    object
 1   Country Code    219 non-null    object
 2   Indicator Name  219 non-null    object
 3   Indicator Code  219 non-null    object
 4   1960            194 non-null    float64
 5   1961            195 non-null    float64
 6   1962            194 non-null    float64
 7   1963            193 non-null    float64
 8   1964            194 non-null    float64
 9   1965            194 non-null    float64
 10  1966            194 non-null    float64
 11  1967            194 non-null    float64
 12  1968            194 non-null    float64
 13  1969            194 non-null    float64
 14  1970            194 non-null    float64
 15  1971            195 non-null    float64
 16  1972            196 non-null    float64
 17  1973            194 non-null    float64
 18  1974            194 non-null    float64
 19  1975            194 non-null    float64
 20  1976            194 non-null    float64
 21  1977            194 non-null    float64
 22  1978            194 non-null    float64
 23  1979            194 non-null    float64
 24  1980            194 non-null    float64
 25  1981            196 non-null    float64
 26  1982            199 non-null    float64
 27  1983            196 non-null    float64
 28  1984            196 non-null    float64
 29  1985            196 non-null    float64
 30  1986            196 non-null    float64
 31  1987            200 non-null    float64
 32  1988            196 non-null    float64
 33  1989            196 non-null    float64
 34  1990            199 non-null    float64
 35  1991            199 non-null    float64
 36  1992            201 non-null    float64
 37  1993            198 non-null    float64
 38  1994            199 non-null    float64
 39  1995            201 non-null    float64
 40  1996            198 non-null    float64
 41  1997            202 non-null    float64
 42  1998            199 non-null    float64
 43  1999            200 non-null    float64
 44  2000            202 non-null    float64
 45  2001            201 non-null    float64
 46  2002            204 non-null    float64
 47  2003            202 non-null    float64
 48  2004            201 non-null    float64
 49  2005            203 non-null    float64
 50  2006            205 non-null    float64
 51  2007            206 non-null    float64
 52  2008            205 non-null    float64
 53  2009            205 non-null    float64
 54  2010            204 non-null    float64
 55  2011            202 non-null    float64
 56  2012            0 non-null      float64
 57  2013            0 non-null      float64
dtypes: float64(54), object(4)
memory usage: 99.4+ KB