# Review - Library AutoClean

Me parece una opcion ideal para rapidos data cleaning para Data Analysis e incluso en algunos casos para proyectos reales.

### References

- [PyPi: py-AutoClean 1.1.3](https://pypi.org/project/py-AutoClean/)
- [GitHub: AutoClean](https://github.com/elisemercury/AutoClean)

![image](parameters.png "AutoClean arguments")

In [10]:
import seaborn as sns
from AutoClean import AutoClean

### load data

In [15]:
df = sns.load_dataset("taxis")
print(df.shape)
df.head()

(6433, 14)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [16]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

# Data Cleaning

### auto (full)

In [12]:
pipeline = AutoClean(df)

AutoClean process completed in 3.041034 seconds
Logfile saved to: /Users/juan/Workspace/projects/utilsDS/notebooks/data_cleaning/autoclean.log

In [17]:
pipeline.output.isnull().sum()

pickup                           0
dropoff                          0
passengers                       0
distance                         0
fare                             0
tip                              0
tolls                            0
total                            0
color                            0
payment                          0
pickup_zone                      0
dropoff_zone                     0
pickup_borough                   0
dropoff_borough                  0
Day                              0
Month                            0
Year                             0
Hour                             0
Minute                           0
Sec                              0
payment_cash                     0
payment_credit card              0
color_green                      0
color_yellow                     0
dropoff_borough_Bronx            0
dropoff_borough_Brooklyn         0
dropoff_borough_Manhattan        0
dropoff_borough_Queens           0
dropoff_borough_Staten Island    0
pickup_borough_Bronx             0
pickup_borough_Brooklyn          0
pickup_borough_Manhattan         0
pickup_borough_Queens            0
dtype: int64

### manual settings

In [27]:
ppm = AutoClean(df, mode='manual', duplicates='auto', missing_num=False, missing_categ='knn', 
          encode_categ=False, extract_datetime=False, outliers='delete', outlier_param=1.5, 
          logfile=True, verbose=True)

04-11-2023 11:31:25.19 - INFO - Started validation of input parameters...
04-11-2023 11:31:25.19 - INFO - Completed validation of input parameters
04-11-2023 11:31:25.20 - INFO - Started handling of duplicates... Method: "AUTO"
04-11-2023 11:31:25.24 - DEBUG - 0 missing values found
04-11-2023 11:31:25.25 - INFO - Completed handling of duplicates in 0.027176 seconds
04-11-2023 11:31:25.25 - INFO - Started handling of missing values...
04-11-2023 11:31:25.25 - INFO - Found a total of 186 missing value(s)
04-11-2023 11:31:25.26 - INFO - Started handling of CATEGORICAL missing values... Method: "KNN"
04-11-2023 11:31:25.28 - DEBUG - KNN imputation of 44 value(s) succeeded for feature "payment"

04-11-2023 11:31:25.37 - DEBUG - KNN imputation of 26 value(s) succeeded for feature "pickup_zone"
04-11-2023 11:31:25.41 - DEBUG - KNN imputation of 45 value(s) succeeded for feature "dropoff_zone"
04-11-2023 11:31:25.44 - DEBUG - KNN imputation of 26 value(s) succeeded for feature "pickup_borough"
04-11-2023 11:31:25.47 - DEBUG - KNN imputation of 45 value(s) succeeded for feature "dropoff_borough"
04-11-2023 11:31:25.47 - INFO - Completed handling of missing values in 0.225701 seconds
04-11-2023 11:31:25.48 - INFO - Started handling of outliers... Method: "DELETE"
04-11-2023 11:31:26.19 - DEBUG - Deletion of 540 outliers succeeded for feature "passengers"
04-11-2023 11:31:26.97 - DEBUG - Deletion of 676 outliers succeeded for feature "distance"
04-11-2023 11:31:27.22 - DEBUG - Deletion of 160 outliers succeeded for feature "fare"
04-11-2023 11:31:27.25 - DEBUG - Deletion of 9 outliers succeeded for feature "tip"
04-11-2023 11:31:27.27 - DEBUG - Deletion of 11 outliers succeeded for feature "tolls"
04-11-2023 11:31:27.39 - DEBUG - Deletion of 56 outliers succeeded for feature "total"
04-11-2023 11:31:27.39 - INFO - Completed handling of outliers in 1.913633 seconds
04-11-2023 11:31:27.39 - INFO - Skipped datetime feature conversion
04-11-2023 11:31:27.40 - INFO - Skipped encoding of categorical features
04-11-2023 11:31:27.40 - INFO - Started feature type conversion...
04-11-2023 11:31:27.40 - DEBUG - Conversion to type INT succeeded for feature "passengers"
04-11-2023 11:31:27.41 - DEBUG - Conversion to type FLOAT succeeded for feature "distance"
04-11-2023 11:31:27.42 - DEBUG - Conversion to type FLOAT succeeded for feature "fare"
04-11-2023 11:31:27.43 - DEBUG - Conversion to type FLOAT succeeded for feature "tip"
04-11-2023 11:31:27.44 - DEBUG - Conversion to type INT succeeded for feature "tolls"
04-11-2023 11:31:27.45 - DEBUG - Conversion to type FLOAT succeeded for feature "total"
04-11-2023 11:31:27.46 - INFO - Completed feature type conversion for 6 feature(s) in 0.058728 seconds
04-11-2023 11:31:27.46 - INFO - AutoClean process completed in 2.285456 seconds

Logfile saved to: /Users/juan/Workspace/projects/utilsDS/notebooks/data_cleaning/autoclean.log

In [28]:
ppm.output.shape

(4981, 14)

In [29]:
ppm.output.isnull().sum()

pickup             0
dropoff            0
passengers         0
distance           0
fare               0
tip                0
tolls              0
total              0
color              0
payment            0
pickup_zone        0
dropoff_zone       0
pickup_borough     0
dropoff_borough    0
dtype: int64