# Review - Library DataCleaner

a del dato. 

### References

- [PyPi: datacleaner 0.1.5](https://pypi.org/project/datacleaner/)
- [GitHub: datacleaner](https://github.com/rhiever/datacleaner)

In [1]:
import seaborn as sns
from datacleaner import autoclean

### load data

In [2]:
df = sns.load_dataset("taxis")
print(df.shape)
df.head()

(6433, 14)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [3]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

# Data Cleaning

In [8]:
autoclean?

Signature:
autoclean(
    input_dataframe,
    drop_nans=False,
    copy=False,
    encoder=None,
    encoder_kwargs=None,
    ignore_update_check=False,
)
Docstring:
Performs a series of automated data cleaning transformations on the provided data set

Parameters
----------
input_dataframe: pandas.DataFrame
    Data set to clean
drop_nans: bool
    Drop all rows that have a NaN in any column (default: False)
copy: bool
    Make a copy of the data set (default: False)
encoder: category_encoders transformer
    The a valid category_encoders transformer which is passed an inferred cols list. Default (None: LabelEncoder)
encoder_kwargs: category_encoders
    The a valid sklearn transformer to encode categorical features. Default (None)
ignore_update_check: bool
    Do not check for the latest version of datacleaner

Returns
----------
output_dataframe: pandas.DataFrame
    Cleaned data set
File:      ~/miniconda3/envs/snakemake/lib/python3.9/site-packages/datacleaner/datacleaner.py
Type:      function

In [4]:
df_cleaned = autoclean(df)

In [7]:
df_cleaned.shape

(6433, 14)

In [6]:
df_cleaned.isnull().sum()

pickup             0
dropoff            0
passengers         0
distance           0
fare               0
tip                0
tolls              0
total              0
color              0
payment            0
pickup_zone        0
dropoff_zone       0
pickup_borough     0
dropoff_borough    0
dtype: int64