# Data Quality: pandas_dq library

Parece una buena opcion para revisar de manera automatica la calidad de los datos contenido en un dataframe.

### References:

- [[github] pandas_dq homepage.](https://github.com/AutoViML/pandas_dq)

In [1]:
%pip install pandas_dq

Collecting pandas_dq
  Using cached pandas_dq-1.9-py3-none-any.whl (19 kB)
Collecting numpy>=1.21.5
  Using cached numpy-1.21.6-cp37-cp37m-macosx_10_9_x86_64.whl (16.9 MB)
Collecting pandas>=1.3.5
  Using cached pandas-1.3.5-cp37-cp37m-macosx_10_9_x86_64.whl (11.0 MB)
Collecting scikit-learn>=0.24.2
  Using cached scikit_learn-1.0.2-cp37-cp37m-macosx_10_13_x86_64.whl (7.8 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/juan/miniconda3/envs/data_quality/lib/python3.7/site-packages (from pandas>=1.3.5->pandas_dq) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 15.6 MB/s eta 0:00:00
Collecting joblib>=0.11
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting scipy>=1.1.0
  Using cached scipy-1.7.3-cp37-cp37m-macosx_10_9_x86_64.whl (33.0 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: six>=1.5 in /Users/juan/miniconda3/envs/data_quality/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=1.3.5->pandas_dq) (1.16.0)
Installing collected packages: pytz, threadpoolctl, numpy, joblib, scipy, pandas, scikit-learn, pandas_dq
Successfully installed joblib-1.2.0 numpy-1.21.6 pandas-1.3.5 pandas_dq-1.9 pytz-2023.3 scikit-learn-1.0.2 scipy-1.7.3 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.datasets import load_iris
import seaborn
from pandas_dq import dq_report

Imported pandas_dq (1.9). Always upgrade to get latest version.

## Weather dataset

### Load data

In [3]:
path = 'https://raw.githubusercontent.com/jmquintana79/utilsDS/master/scripts/datasets/data/dataset.weather.csv.gz'
data = pd.read_csv(path)
data['datetime'] = pd.to_datetime(data['datetime'])
data['dtnow'] = [datetime(2022,1,1,12,0,0) for i in range(len(data))]
data['dtrandom'] = pd.to_datetime(np.sort(np.random.choice(pd.date_range('2015-01-01', '2018-01-01', freq='H'), len(data), replace=False)))
data.shape, data.columns

((17544, 16),
 Index(['datetime', 'RH (%)', 'WD', 'WS (m/s)', 'cloud_coverage',
        'dew_point (degC)', 'irradiation (MJ/m2)', 'local_press (hPa)',
        'precipitation (mm)', 'sea-level pressure (hPa)',
        'sunlight_duration (h)', 'temperature (degC)', 'vapor_press (hPa)',
        'visibility (km)', 'dtnow', 'dtrandom'],
       dtype='object'))

### Data Quality Analysis

In [5]:
df_report = dq_report(data, csv_engine="pandas", verbose=1)

## IRIS DATASET

### Load data

In [13]:
# load dataset
dataset = load_iris()
dataset.keys()
# dataset to df
data = pd.DataFrame(dataset.data, columns = dataset.feature_names)
data['class'] = dataset.target
data.shape, data.columns

((150, 5),
 Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
        'petal width (cm)', 'class'],
       dtype='object'))

### Data Quality Analysis

In [12]:
df_report = dq_report(data, target = "class", csv_engine="pandas", verbose=1)

Alert: Dropping 1 duplicate rows can sometimes cause column data types to change to object. Double-check!

## Titanic Dataset

### Load Data

In [11]:
data = seaborn.load_dataset('titanic')
data["class"] = data["class"].astype(str)
data["deck"] = data["deck"].astype(str)
data.shape, data.columns

((891, 15),
 Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
        'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
        'alive', 'alone'],
       dtype='object'))

### Data Quality Analysis

In [14]:
df_report = dq_report(data, target = "survived", csv_engine="pandas", verbose=1)

Alert: Dropping 107 duplicate rows can sometimes cause column data types to change to object. Double-check!